<%- include('partials/header') %>

    <h2>Welcome</h2>
    <p>Welcome to your health & fitness tracking app.</p>
    <p>Use this app to log your workouts and review your progress over time.</p>

    <%- include('partials/footer') %>